//@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
body, html{
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
}
body{
	background-color: #f6f6f6;
	font-family: FiraSans, Tahoma, Arial, sans-serif;
	line-height: 1.42;
	box-sizing: border-box;
	color: #414141;
}
p{
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.conteiner{
	max-width: 940px;
	margin: 0 auto;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    min-width: 940px;
    margin-bottom: -50px;
}
.wrapper::after{
	content: '';
	display: block;
	height: 50px;
}