@font-face{
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-Medium.ttf');
	font-weight: 500;
}
@font-face{
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-Regular.ttf');
	font-weight: 400;
}
@font-face{
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-Bold.ttf');
	font-weight: 700;
}
@font-face{
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-Light.ttf');
	font-weight: 300;
}